*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: #fff;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}

form button{
    color: #d88771;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #d88771;
    color: #fff;
}

/* Todo container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{

    margin: 0.5rem;
    background-color: #fff;
    color:#000;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;
    width: 400px;
}

.complete-btn,
.delete-btn{
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.todo-item{
    padding: 0rem 0.5rem;
    text-transform: capitalize;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform:  translateY(8rem) rotateZ(20deg);
    opacity: 0;
}